.acess-container {
    height: 100vh;
    width: 100wh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #227504, #2CA400);
    font-family: Arial, sans-serif;
    padding: 20px;
    overflow: hidden;
  }
  
  .acess-logo {
    text-align: center;
    margin-bottom: 180px;
  }
  
  .acess-logo img {
    width: 280px;
    height: 280px;
  }
  
  .acess-logo h1 {
    color: white;
    font-size: 28px;
    margin-top: 5px;
  }
  
  .acess-form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 110px;
  }
  
  .acess-button {
    background-color: white;
    color: #444;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
  }
  
  .acess-button:hover {
    background-color: #e0e0e0;
  }
  