#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  margin: 0.5rem;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.container{
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 5px;
}

p {
  font-size: 12px;
  font-weight: var(--fw-md);
  color: var(--second-text-color);
}

h3{
  font-size: 20px;
  font-weight: var(--fw-md);
  color: var(--second-text-color);
}

h2{
  font-size: 18px;
  font-weight: var(--fw-md);
  color: var(--second-text-color);
}

color-card{
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  flex-direction: column;
}

#card1 {
  height: 50vh;
  width: 80vh;
  background: var(--bg-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
}

#card2 {
  height: 50vh;
  width: 80vh;
  background: var(--primary-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
}

#card3 {
  height: 50vh;
  width: 80vh;
  background: var(--secondary-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
}

#card4 {
  height: 50vh;
  width: 80vh;
  background: var(--attention-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
}

#card5 {
  height: 50vh;
  width: 80vh;
  background: var(--attention-secundary);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;

  p{
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
  }

  h2{
    color: var(--text-color);
  }
}

#card6 {
  height: 50vh;
  width: 80vh;
  background: var(--warning-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
}

#card7 {
  height: 50vh;
  width: 80vh;
  background: var(--warning-secundary);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;

  p{
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
  }

  h2{
    color: var(--text-color);
  }
}

#card8 {
  height: 50vh;
  width: 80vh;
  background: var(--healty-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
  
  p{
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
  }

  h2{
    color: var(--text-color);
  }

}

#card9 {
  height: 50vh;
  width: 80vh;
  background: var(--bg-primary-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
  
  p{
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
  }

  h2{
    color: var(--text-color);
  }

}

#card10 {
  height: 50vh;
  width: 80vh;
  background: var(--text-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
  
  p{
    color: var(--second-text-color);
  }

  h3{
    color:var(--second-text-color);
  }

  h2{
    color:var(--second-text-color);
  }

}

#card11 {
  height: 50vh;
  width: 80vh;
  background: var(--second-text-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
  
  p{
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
  }

  h2{
    color: var(--text-color);
  }

}

#card12 {
  height: 50vh;
  width: 80vh;
  background: var(--bg-secundary-color);
  border-radius: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;

  p{
    color: var(--text-color);
  }

  h3{
    color: var(--text-color);
  }

  h2{
    color: var(--text-color);
  }

}