.TelaAnimal {
  width: 375px;
  height: 812px;
  margin: 0 auto;
  background-color: var(--bg-primary-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  position: relative;
  overflow: hidden;
}

#background-list {
  background-color: var(--bg-primary-color);
  border-color: 2px var(#c5c5c5);
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#top-header {
  flex-direction: column;
  margin-bottom: 40px;
  align-items: end;
  display: flex;
}

.header {
  position: absolute;
  inset-block-start: 20px;
  inset-inline-start: 135px;
  font-size: 24px;
  font-weight: var(--fw-bold);
  color: var(--primary-color);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification {
  display: flex;
  justify-content: end;
  align-items: end;
}

.bell-icon {
  color: var(--primary-color);
}

.notification-count {
  position: absolute;
  inset-inline-end: 12px;
  inset-block-start: 6px;
  background: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

#search-container {
  margin-bottom: 8px;
  background-color: var(--primary-color);
  border-radius: 8px 8px 0px 0px;
}

#searchbar {
  border-radius: 8px;
  padding: 8px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 8px 12px;
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  margin: 0 8px;
  font-size: 14px;
}

.icon {
  color: var(--primary-color);
}

.animal-list {
  flex: 1;
  overflow-y: auto;
  border: 2px #c5c5c5;
  background-color: var(--bg-secundary-color);
  border-radius: 8px;
}

.animal-item {
  margin-bottom: 12px;
}

.animal-card {
  display: flex;
  align-items: center;
  background: var(--second-text-color);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.animal-avatar {
  width: 40px;
  height: 40px;
  background: #D9D9D9;
  border-radius: 50%;
  margin-right: 12px;
}

.animal-info {
  flex: 1;
}

.animal-name {
  font-size: 16px;
  font-weight: var(--fw-bold);
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.star-icon {
  margin-left: 4px;
}

.animal-type {
  font-size: 12px;
  color: var(--primary-text-color);
  margin-top: 2px;
}

.temp-container {
  display: flex;
  align-items: center;
}

.temp-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.animal-temp {
  font-size: 16px;
  font-weight: var(--fw-bold);
}
