* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef1f4; /* Fundo cinza claro como no protótipo */
  font-family: sans-serif;
  color: #333;
  overflow-x: hidden;
  margin-bottom: 50px; /* Impede rolagem horizontal */
}

.animal-profile-container {
  max-width: 450px; /* Largura mais próxima do protótipo */
  min-height: 100vh; /* Ocupa a altura toda */
  margin: 0 auto; /* Centraliza na tela */
  background-color: #ffffff; /* Fundo branco para o conteúdo */
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  padding-bottom: 65px;
}